body {
  font-family: 'Sora', sans-serif;
  background-color: #151515;
  color: #e9e7db;
  margin: 15;
  display: flex;
  font-size: 1rem;
}

h1 {
  color: #e9e7db;
  font-weight: 400;
  padding: 75px 15px 20px 15px;
  text-shadow: 0 0 5px #e9e7db24, 0 0 5px #e9e7db94, 0 0 5px #e9e7db30;
  text-shadow: 0 0 15px #e9e7db24, 0 0 25px #e9e7db1d, 0 0 15px #e9e7db30;
  font-size: 1.5rem;
}

h2 {
  color: #e9e7db;
  font-weight: 300;
  padding: 75px 15px 20px 15px;
  text-shadow: 0 0 5px #e9e7db24, 0 0 5px #e9e7db94, 0 0 5px #e9e7db30;
  text-shadow: 0 0 15px #e9e7db24, 0 0 25px #e9e7db1d, 0 0 15px #e9e7db30;
  font-size: 1.25rem;
}

h3{
  color: #e9e7db;
  font-weight: 400;
  padding: 75px 15px 7px 15px;
  text-shadow: 0 0 5px #e9e7db24, 0 0 5px #e9e7db94, 0 0 5px #e9e7db30;
  text-shadow: 0 0 15px #e9e7db24, 0 0 25px #e9e7db1d, 0 0 15px #e9e7db30;
  font-size: 1.15rem;
}

p {
  font-weight: 100;
  padding: 10px 15px 20px 15px;
  text-shadow: 0 0 5px #e9e7db24, 0 0 5px #e9e7db08, 0 0 5px #e9e7db30;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem 0;
}

nav a {
  color: #e9e7db; /* Link color */
  text-decoration: none; /* Remove underline */
  margin-right: 2px; /* Add space between links */
  font-weight: 200; /* Medium font weight */
  padding: 2px 2px 8px 2px;
  text-shadow: 0 0 5px #e9e7db24, 0 0 5px #e9e7db94, 0 0 5px #e9e7db30;
  text-shadow: 0 0 15px #e9e7db24, 0 0 25px #e9e7db1d, 0 0 15px #e9e7db30;
}

nav a:hover {
  /*text-decoration: underline; /* Add glow on hover */
  text-shadow: 0 0 5px #e9e7dbcb, 0 0 5px #e9e7db94, 0 0 5px #e9e7db9f;
  text-shadow: 0 0 25px #e9e7db9f, 0 0 25px #e9e7db, 0 0 15px #e9e7db;
}

.sidebar nav b {
  color: #e9e7db; /* Link color */
  text-decoration: none; /* Remove underline */
  margin-right: 2px; /* Add space between links */
  font-weight: 400; /* Medium font weight */
  padding: 2px 2px 8px 2px;
  text-shadow: 0 0 5px #e9e7db24, 0 0 5px #e9e7db94, 0 0 5px #e9e7db30;
  text-shadow: 0 0 15px #e9e7db24, 0 0 25px #e9e7db1d, 0 0 15px #e9e7db30;
}

.sidebar nav b:hover {
  /*text-decoration: underline; /* Add glow on hover */
  text-shadow: 0 0 5px #e9e7dbcb, 0 0 5px #e9e7db94, 0 0 5px #e9e7db9f;
  text-shadow: 0 0 25px #e9e7db9f, 0 0 25px #e9e7db, 0 0 15px #e9e7db;
}

.sidebar{
  width: 250px;
  height: 100vh;
 padding: 150px 10px 10px 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar nav{
  display: flex;
  flex-direction: column;
}

.sidebar nav a{
  text-decoration: none;
  color: #e9e7db;
  font-weight: 200; /* Medium font weight */
  margin: 10px;
  position: relative;
  transition: text-shadow 0.3s ease-in-out;
}

.sidebar nav a:hover{
  text-shadow: 0 0 5px #e9e7db73, 0 0 5px #e9e7db1d, 0 0 5px #e9e7db30,
  0 0 15px #e9e7db24, 0 0 25px #e9e7db1d, 0 0 15px #e9e7db30;
}

/* Content Section (Text on the Right) */
.content {
  margin-left: 280px; /* Adjust to match the sidebar width + some spacing */
  padding: 20px;
  max-width: 800px; /* Optional: Restrict width for better readability */
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* this will add equal space between each image */
}

.image-row img {
  flex: 1 1 300px;
  max-width: 300px;
}

.image-float {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* this will add equal space between each image */
  height: 50vh; /* 50% of the viewport height */
}

.image-float img{
  height: 50vh; /* 50% of the viewport height */
  padding-left: 30%;
}